<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ title if title else app_name }} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/news_block.css') }}">
    <script src="{{ url_for('static', path='js/scroll.js') }}"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="nav">
                <img src="{{ url_for('static', path='img/logo.png') }}" alt="MIREA" class="logo">
                <ul class="menu">
                    <li>
                        <a href="/">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="/prepods">
                            Преподаватели
                        </a>
                    </li>
                    <li>
                        <a href="/history">
                            История кафедры
                        </a>
                    </li>
                    <li>
                        <a href="/jobs">
                            Работы студентов
                        </a>
                    </li>
                    <li class="signin">
                        <a href="{{ url_for('github_login') }}">
                            Войти
                        </a>
                    </li>
                </ul>
            </div>

            <div class="offer">
                <div class="text">
                    <h1>Кафедра 732<br> РТУ МИРЭА</h1>
                    <p>Институт информационных технолoгий.<br>Кафедра прикладной информатики</p>
                    <button value="Новости кафедры" class="button" onclick="myFunction()">Новости кафедры</button>
                </div>
                <div class="paint">
                    <img src="{{ url_for('static', path='img/right_offer.svg')}}" alt="foto">
                </div>
            </div>

        </div>
    </header>

    <section class="section">
        <div class="container" id = "id3">
            <div class="head">
                <h2>
                    <img src="{{ url_for('static', path='img/i2.svg')}}" alt="news"> Новости кафедры 732
                </h2>
            </div>

            <div class="GUIForm">
                <form class="form_add" action="{{ url_for('add') }}" method="post">
                    <div class="field_add">
                        <label class="label_add">Добавить новость</label><br>
                        <input class="input_add_1" type="text" name="title" placeholder="Введите название новости"><br>
                        <input class="input_add_2" type="text" name="description" placeholder="Введите описание новости">
                    </div>
                    <button class="button" id="but1" type="submit">Добавить</button>
                </form>
            </div>

            <div style="text-align: center;">
                <h1 style="color: black; font-size: 90px;">I am : {{ user }}</h1>
            </div>


            {% for news in news_list %}
            <div class="bigdiv">
                <a class="trans" href="/">
                    <div class="newsdiv">
                        <div class="fotocard">
                            <img src="{{ url_for('static', path='img/fotocard.png')}}" alt="news">
                        </div>
                        <div class="title">
                            {{ news.title }}
                        </div>
                        <div class="field">
                            {{ news.description }}
                        </div>
                        <a class="del" href="{{ url_for('delete', todo_id=news.id) }}">Удалить</a>
                    </div>
                </a>
                <hr>
            </div>
            {% endfor %}

        </div>
    </section>

    <footer class="footer">
        <div class="container" id="container_3">
            <img src="{{ url_for('static', path='img/logomini.svg')}}" alt="minilogo" class="minilogo">
            <div class="foot">
                <h6>
                    Ⓒ 1923-2022 Кафедра 732 РТУ МИРЭА
                </h6>
                <h6>
                    +7 (999) 999 - 36 - 36
                </h6>
            </div>
        </div>
    </footer>

</body>
</html>