.field_add {
    margin-left: 75px;
}

.del {
    position: absolute;
    color: black;
    left: 1000px;
    margin-top: 110px;
    padding: 1px 10px 1px 10px;
    border-radius: 10px;
}

.del:hover {
    background: #cd5c5c;
    color: black;
    transition: 1s;
}

.label_add {
    margin-left: 35px;
}

.input_add_1 {
    margin-top: 20px;
}

.input_add_2 {
    margin-top: 20px;
}

#but1 {
    margin-top: 20px;
}
